@font-face {
  font-family: 千图笔锋手写体;
  src: url(../font/千图笔锋手写体.ttf);
}

@font-face {
  font-family: 朱雀仿宋;
  src: url(../font/朱雀仿宋.ttf);
}

@background: #fcfbf8;
@black-gray: #3e454c;
@gray: #777a7e;
@pink: #ECBBCB;
@blue: #abdffa;
@deep-pink: #d48070;
@sidenav-to-bottom: 400px;
@part-padding-left-right: 15em;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: rgba(0, 0, 0, 0.3);
}

/*html {*/
/*    scroll-behavior: smooth;*/
/*}*/

.banner {
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;


  .content {
    font-family: "千图笔锋手写体", sans-serif;
    color: #fff;
    text-align: center;
    /* 垂直居中 */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 80%;
    font-size: 3em;
    text-shadow: 0 0 10px #000;

    h1 {
      text-align: left;
    }

    span {
      color: @pink;
      font-size: 1.5em;
    }
  }

  #pull-down {
    /* 下拉箭头置底且居中 */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    /* 大小 */
    width: 50px;
    height: 50px;

    /* 隐藏 */
    opacity: 0.5;

    /* 鼠标悬停 */
    cursor: pointer;

    &:hover {
      /* 逐渐变亮 */
      transition: opacity 0.5s;
      opacity: 1;
    }
  }
}

.flourish-embed {
  margin: 5em auto;
  width: 90%;
}

.chart {
  margin: 5em auto;
}

#chart-11 {
  margin: 5em 0 5em -8vw;
  width: 130%;
}

#chart-17 {
  margin: 4em auto;
  img {
    width: 80%;
  }
  p {
    color: @gray;
    font-size: 0.9em;
    text-align: center;
  }
}

.dychart {
  // 使图表居中
  margin: 0 auto;
  // 使图表宽度为 100%
  width: 90%;
  height: 330px
}

.main-content {
  background-color: @background;

  img {
    /* 左右居中 */
    margin: 0 auto;
    width: 75%;
    display: block;
  }

  .container {
    margin: 0 auto;
    padding: 5em 0;
    width: 80%;
    line-height: 2em;

    p {
      /* 段落间距 */
      margin-bottom: 2em;
    }

    .part {
      border-bottom: 2px dashed rgba(128, 128, 128, 0.5);

      &:nth-last-child(2) {
        border-bottom: none;
      }

      padding: 2em @part-padding-left-right;

      .title {
        /* 左右居中 */
        text-align: center;

        /*!*行距*!*/
        /*line-height: 2em;*/

        /* 底部margin */
        margin: 0 auto 2em;
        font-family: "朱雀仿宋", sans-serif;
        font-size: 25px;

        img {
          width: 40%;
          margin-bottom: 0.5em;
        }

        h2 {
          line-height: 1.5em;
          color: @black-gray;
        }
      }

      .story {
        // 左右居中
        margin: 1em auto;
        width: 90%;
      }
    }

    #part-two .title img {
      width: 30%;
      padding: 0;
      margin: 0 auto;
    }

    #part-three .title img {
      width: 25%;
      padding: 0;
      margin: 0 auto;
    }

    #part-four .list-title, #part-five .part-five-list-title {
      margin-top: 5em;
      margin-bottom: 5em;

      img {
        width: 8%;
      }
    }

    #part-four {
      .list-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 0;

        img {
          //width: 10%;
          margin-right: 1em;
          margin-left: 0;
        }
      }

      .title img {
        width: 40%;
      }

      #pic-one {
        width: 57%;
        margin: 3em auto;
      }

      #pic-two {
        margin: 3em auto;
      }

      #pic-three {
        width: 40%;
        margin: 2em auto;
      }

      #pic-4 {
        width: 70%;
        margin: 2em auto;
      }
    }

    #part-five {
      .part-five-list-title {
        /* 整体靠右 */
        text-align: right;


        display: flex;
        align-items: center;
        justify-content: flex-start; // 使得图片和文字在同一行

        img {
          //width: 10%;
          margin-right: 1em;
        }
      }

      .sticky {
        height: 100vh;
        margin: 0 auto;
        position: relative;

        .flourish-embed{
          position: absolute;
          margin: 0 auto;
          //height: 80%;

          left: 50%; //起始是在body中，横向距左50%的位置
          top: 50%; //起始是在body中，纵向距上50%的位置，这个点相当于body的中心点，div的左上角的定位
          transform: translate(-50%, -50%);

          //z-index: 0;
        }

        #last-p {
          position: absolute;
          margin: 0 auto;
          width: 100%;

          left: 50%; //起始是在body中，横向距左50%的位置
          top: 50%; //起始是在body中，纵向距上50%的位置，这个点相当于body的中心点，div的左上角的定位
          transform: translate(-50%, -50%);

          //z-index: 0;
        }

        .scroll-p {
          margin: 0 auto;
          width: 50%;
          //display: none;
          opacity: 0;
          background-color: @pink;
          padding: 0.5em 1em;

          /* 圆角 */
          border-radius: 10px;
          color: @black-gray;

          //z-index: 1000;
        }
      }


      #pic-five {
        margin: 2em auto;
      }

      //.phone {
      //  background-image: url("../img/phone-background.png");
      //  height: 1000px;
      //}
    }

    #part-six {
      .phone {
        //background-image: url("../img/phone-background.png");
        //background-size: contain;
        //background-repeat: no-repeat;
        //background-position: center;
        //height: 2000px;

        //margin-bottom: 10em;
        margin: 3em auto;

        //height: 1000px;

        position: relative;

        #phone-content {
          padding: 0;
          width: 68%;


          ///* 叠在phone-background上 */
          //  position: relative;
          //  left: 50%;
          //  transform: translateX(-50%);

          position: absolute;
          left: 49%;
          transform: translateX(-50%);
          top: 25%;
          //transform: translateY(-50%);
        }
      }
    }

    .resource {
      color: @gray;
      list-style-position: inside;
      font-size: 0.9em;
      margin: 0 @part-padding-left-right + 1.5;

      h3 {
        font-weight: normal;
      }

      ol {
        list-style-type: none;
        counter-reset: sectioncounter;
      }

      li:before {
        content: "[" counter(sectioncounter) "] ";
        counter-increment: sectioncounter;
      }
    }
  }

  .footer {
    //background-color: #3e454c;
    color: @gray;
    text-align: center;
    font-size: 0.9em;
    padding-top: 2em;
    padding-bottom: 7em;
    border-top: 2px solid rgba(128, 128, 128, 0.7);

    .footer-part {
      margin: 2em auto;

      h4 {
        //font-family: "朱雀仿宋", sans-serif;
        margin-bottom: 0.5em;
      }
    }
  }
}

strong {
  color: @black-gray;
}

.pink {
  color: @deep-pink;
  font-size: 20px;
}

.light {
  color: #3e454c;
  font-size: 13px;
}

#cite {
  list-style: none;
  margin: 2em auto;
  text-align: center;
  color: @gray;
  font-size: 15px;
}

/* ------------------- */

/* 为 sidenav 内的链接设置样式 */
#mySidenav a {
  position: fixed; /* 相对于浏览器窗口定位它们 */
  //top: 0;/

  left: -80px; /* 将它们放在屏幕之外 */

  transition: 0.3s; /* 在悬停时添加过渡 */
  padding: 15px; /* 15px 内边距 */
  width: 120px; /* 设置特定宽度 */
  text-decoration: none; /* 删除下划线 */
  font-size: 20px; /* 增加字体大小 */
  color: #3e454c; /* 白色文本颜色 */
  border-radius: 0 25px 25px 0; /* 右上角和右下角的圆角 */

  &:hover {
    left: 0; /* 鼠标悬停时，使元素按应有的方式显示 */
  }
}

#btn-one, #btn-two, #btn-three {
  /* 半透明 */
  opacity: 0.9;
  font-family: "朱雀仿宋", sans-serif;
}

#btn-one {
  bottom: @sidenav-to-bottom + 240;
  background-color: @blue;
}

#btn-two {
  bottom: @sidenav-to-bottom + 180;
  background-color: @pink;
}

#btn-three {
  bottom: @sidenav-to-bottom + 120;
  background-color: @blue;
}

#btn-four {
  bottom: @sidenav-to-bottom + 60;
  background-color: @pink;
}

#btn-five {
  bottom: @sidenav-to-bottom;
  background-color: @blue;
}

/* ------------------- */

#to-top {
  /* 右下角 */
  position: fixed;
  right: 5%;
  bottom: 5%;

  /*!* 鼠标悬停 *!*/
  cursor: pointer;

  /*!* 圆角 *!*/
  border-radius: 50%;

  img {
    /* 图片大小 */
    width: 50px;
    height: 50px;

    /* 图片居中 */
    margin: 0 auto;
    display: block;

    /* 逐渐变亮 */
    transition: opacity 0.5s;
    opacity: 0.5;

    /* 圆角 */
    border-radius: 50%;

    &:hover {
      /* 逐渐变淡 */
      transition: opacity 0.5s;
      opacity: 1;
    }
  }
}
